<div class="navbar bg-black px-64 py-10 text-gray-200 lg:flex lg:justify-around">
    <div class="right">
    <h1 class="logo-name text-2xl">GRAYSCALE</h1>
    </div>
    <div class="left">
        <a href="" class="link lg:px-6">Free Downloads</a>
        <a href="" class="link lg:px-6">Premium Downloads</a>
        <a href="" class="link lg:px-6">Home</a>
    </div>
</div>